.story {
    width: 75%;
    margin: 0 auto 8rem auto;
    padding: 6rem;
    padding-left: 9rem;
    box-shadow: 0 3rem 6rem rgba($color: $color-black, $alpha: .15);
    background-color: rgba($color: $color-white, $alpha: .5);
    border-radius: 3px;
    transform: skewX(-12deg);

    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 5rem;
    }

    @include respond(phone) {
        transform: skewX(0);
    }


    &__image {
        height: 100%;
        transform: translateX(-4rem) scale(1.3);
        transition: all .5s;

        @include respond(phone) {
            margin-right: 2rem;
        }
    }

    &__shape {
        height: 15rem;
        width: 15rem;
        float: left;
        clip-path: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        position: relative;

        @include respond(phone) {
            transform: translateX(-2rem) skewX(0);
            height: 12rem;
            width: 12rem;
            
        }
    }

    &__text {
        transform: skewX(12deg);

        @include respond(phone) {
            transform: skewX(0);
        }
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    &:hover &__image {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }

}