.header {
    background: linear-gradient(
        to right, rgba($color-primary-light, 0.8),
         rgba($color-primary-dark, 0.8)) , url(../img/hero-small.jpg), no-repeat top scroll;
    background-size: cover;
    height: 95vh;
    clip-path: polygon(0 0, 0 100%, 100% 80vh, 100% 0);
    position:relative;

    @media (min-resolution:192dpi) and (min-width: 37.5em),
            (min-width:125em) {
        background: linear-gradient(
        to right, rgba($color-secondary-light, 0.8),
         rgba($color-secondary-dark, 0.8)) , url(../img/hero.jpg), no-repeat top scroll;
    }

    @include respond(phone) {
        clip-path: polygon(0 0, 0 100%, 100% 85vh, 100% 0);
    }

    &__image-box {
        @include absolute-positioning(4rem, null , null ,4rem );

        .header__logo {
            height: 3.5rem;
        }
    }

    &__text-box {
        @include absolute-positioning(44.5%, null , null ,50% );
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
